:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* .main-container,
  .main-container * {
    box-sizing: border-box;
  } */

input,
select,
textarea,
button {
    outline: 0;
}


.main-container {
    position: relative;
    width: fit-content;
    left: -138px;
    height: 800px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
}

/* .main-container {
    position: relative;
    width: 1480px;
    height: 800px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
} */

.rectangle {
    position: relative;
    min-width: 120%;
    height: 75px;
    margin: 0 0 0 -11px;
    background: #ffffff;
    z-index: 79;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.label {
    position: absolute;
    width: 210px;
    height: 56px;
    top: 10px;
    left: 180px;
    background: url(../images/fdc60309dcfab02254eed910131242e4bf05a8d2.png) no-repeat center;
    background-size: cover;
    z-index: 89;
}

/* 
.phone-number {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 26px;
    left: 915px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 88;
} */

.icon {
    position: absolute;
    width: 17.515px;
    height: 17.505px;
    top: 29.055px;
    left: 892.584px;
    background: url(../images/76f29d2d-a306-4e38-b01c-81af3cef42a2.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 87;
}

.icon-1 {
    position: absolute;
    width: 15.5px;
    height: 16.979px;
    top: 29.25px;
    left: 1259.25px;
    background: url(../images/94e47918-b40b-4f43-9b49-73cf97c947d8.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 84;
}

.ellipse {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 30px;
    left: 1238px;
    background: url(../images/7198ba6d-a81c-47ae-9cf5-17294f1e8039.png) no-repeat center;
    background-size: cover;
    z-index: 82;
    border-radius: 50%;
}

.icon-2 {
    position: absolute;
    width: 17.5px;
    height: 14.5px;
    top: 31.25px;
    left: 1225.25px;
    background: url(../images/d27c7199-17e9-4bbb-a491-b8d165d1f599.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 81;
}

.auction-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 860px;
    height: 72px;
    margin: 6px 0 0 201px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 62.544px;
    text-align: center;
    white-space: nowrap;
    z-index: 77;
}

.background-of-car {
    position: relative;
    width: 1028px;
    height: 536.761px;
    margin: 0 0 0 226px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    z-index: 7;
    overflow: visible auto;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.flex-row-fa {
    position: relative;
    width: 942.955px;
    height: 45.741px;
    margin: 414.646px 0 0 48px;
    z-index: 37;
}

.fuel-type {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36.47px;
    top: 0;
    left: 482.979px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    z-index: 36;
}

.variable-fuel-type {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 136.861px;
    height: 36.47px;
    top: 0;
    left: 806.094px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: right;
    white-space: nowrap;
    z-index: 37;
}

.text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 27.198px;
    top: 17.409px;
    left: calc(50% - 471.48px);
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20.848px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
}

.number-of-client {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 125.714px;
    height: 27.198px;
    top: 18.543px;
    left: calc(50% - 157.19px);
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.364px;
    text-align: right;
    white-space: nowrap;
    z-index: 13;
}

.flex-row-a {
    position: relative;
    width: 942.955px;
    height: 36.591px;
    margin: -8.271px 0 0 48px;
    z-index: 34;
}

.tank-volume {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 33.865px;
    top: 0;
    left: 482.979px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
}

.variable-tank-volume {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 74.09px;
    height: 36.47px;
    top: 0;
    left: 868.865px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: right;
    white-space: nowrap;
    z-index: 34;
}

.text-3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 28.332px;
    top: 8.259px;
    left: calc(50% - 471.48px);
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20.848px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
}

.time-before {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 139.033px;
    height: 28.332px;
    top: 8.259px;
    left: calc(50% - 170.51px);
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.364px;
    text-align: right;
    white-space: nowrap;
    z-index: 10;
}

.flex-row-e {
    position: relative;
    width: 942.955px;
    height: 36.47px;
    margin: 0.88px 0 0 48px;
    z-index: 31;
}

.regroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 459.976px;
    height: 36.47px;
    top: 0;
    left: 482.979px;
    z-index: 31;
}

.length-width-weight {
    flex-shrink: 0;
    position: relative;
    height: 36.47px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    z-index: 31;
}

.variable-length-width-weight {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
    width: 136.861px;
    height: 36.47px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: right;
    white-space: nowrap;
    z-index: 30;
}

.text-4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 28.331px;
    top: 0.12px;
    left: calc(50% - 471.48px);
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20.848px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
}

.time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 192px;
    height: 28.332px;
    top: 0.12px;
    left: calc(50% - 223.48px);
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.364px;
    text-align: right;
    white-space: nowrap;
    z-index: 16;
}

.flex-row-a-5 {
    position: absolute;
    height: 296.13px;
    top: 8.107px;
    right: 28.842px;
    left: 42.219px;
    z-index: 90;
}

.name-auction {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 38.45px;
    top: 0;
    left: calc(50% - 12.69px);
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 31.272px;
    text-align: left;
    white-space: nowrap;
    z-index: 66;
}

.outline-liked {
    position: absolute;
    width: 28.813px;
    height: 32.744px;
    top: 10.773px;
    left: 926.126px;
    z-index: 75;
    overflow: hidden;
}

.icon-6 {
    position: absolute;
    width: 72.92%;
    height: 60.42%;
    top: 21.87%;
    left: 13.54%;
    background: url(../images/19c345b4-4c2d-4b19-a79c-296c084618b5.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 76;
}

.rectangle-7 {
    position: absolute;
    width: 19px;
    height: 17.707px;
    top: 8.451px;
    left: 4.655px;
    background: url(../images/2890a79d-f6ae-46a4-bb57-0b7c1b4f9e85.png) no-repeat center;
    background-size: cover;
    z-index: 74;
}

.photo-big-car {
    position: absolute;
    width: 444.541px;
    height: 266.626px;
    top: 14.282px;
    left: 0;
    /* background: url(../images/c74fa9f6dc2fb92136e2c487e9781505430a3dce.png) no-repeat center;
    background-size: cover; */
    z-index: 72;
    border-radius: 15px;
}

.CarImg {
    width: 464.541px;
    height: 266.626px;
    border-radius: 15px;
    background: var(--img) no-repeat center;
    background-size: cover;
}

.text-characteristics {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36.47px;
    top: 40.45px;
    left: 487.781px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    z-index: 65;
}

.line {
    position: absolute;
    width: 465.002px;
    height: 2px;
    top: 65.893px;
    left: 482.779px;
    background: url(../images/6464e02a-75e8-4181-b72e-14db436be25c.png) no-repeat center;
    background-size: cover;
    z-index: 90;
}

.rating {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36.47px;
    top: 77.31px;
    left: 487.76px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    z-index: 63;
}

.variable-rating {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36.47px;
    top: 77.31px;
    left: 932.3px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    z-index: 64;
}

.run {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36.47px;
    top: 113.78px;
    left: 487.76px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    z-index: 60;
}

.variable-run {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 79.235px;
    height: 36.47px;
    top: 113.78px;
    left: 868.5px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: right;
    white-space: nowrap;
    z-index: 61;
}

.kpp {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36.47px;
    top: 150.25px;
    left: 487.76px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    z-index: 57;
}

.variable-kpp {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 131.716px;
    height: 36.47px;
    top: 150.25px;
    left: 816.02px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: right;
    white-space: nowrap;
    z-index: 58;
}

.car-body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36.47px;
    top: 186.72px;
    left: 487.76px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    z-index: 54;
}

.variable-car-body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 136.861px;
    height: 36.47px;
    top: 186.72px;
    left: 810.875px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: right;
    white-space: nowrap;
    z-index: 55;
}

.colour {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36.47px;
    top: 223.19px;
    left: 487.76px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    z-index: 51;
}

.variable-colour {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 136.861px;
    height: 36.47px;
    top: 223.19px;
    left: 810.875px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: right;
    white-space: nowrap;
    z-index: 52;
}

.drive-unit {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36.47px;
    top: 259.66px;
    left: 487.76px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    z-index: 48;
}

.variable-drive-unit {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 136.861px;
    height: 36.47px;
    top: 259.66px;
    left: 810.875px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: right;
    white-space: nowrap;
    z-index: 49;
}

.flex-row-c {
    position: absolute;
    width: 947.955px;
    height: 84.743px;
    top: 292.434px;
    left: 42px;
    z-index: 67;
}

.small-cars {
    width: 445px;
    /* height: 80px; */
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0.7px;
    box-sizing: border-box;
    gap: 11px;
    max-width: 100%;
    z-index: 1;
}

.small-car {
    width: 108px;
    max-height: 100%;
    min-height: 62px;
    align-self: stretch;
    position: relative;
    border-radius: 15px;
    flex-shrink: 0;
    object-fit: cover;
    background: url(../images/c74fa9f6dc2fb92136e2c487e9781505430a3dce.png) no-repeat center;
    background-size: cover;
}

.small-car-8 {
    position: absolute;
    width: 108px;
    height: 62px;
    top: 0;
    left: 238px;
    background: url(../images/c74fa9f6dc2fb92136e2c487e9781505430a3dce.png) no-repeat center;
    background-size: cover;
    z-index: 69;
    border-radius: 15px;
}

.small-car-9 {
    position: absolute;
    width: 108px;
    height: 62px;
    top: 0;
    left: 119px;
    background: url(../images/c74fa9f6dc2fb92136e2c487e9781505430a3dce.png) no-repeat center;
    background-size: cover;
    z-index: 70;
    border-radius: 15px;
}

.small-car-a {
    position: absolute;
    width: 108px;
    height: 62px;
    top: 0;
    left: 0;
    background: url(../images/c74fa9f6dc2fb92136e2c487e9781505430a3dce.png) no-repeat center;
    background-size: cover;
    z-index: 71;
    border-radius: 15px;
}

.vin {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36.47px;
    top: 11.803px;
    left: 487.979px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    z-index: 45;
}

.variable-vin {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 286.07px;
    height: 36.47px;
    top: 11.803px;
    left: 661.885px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: right;
    white-space: nowrap;
    z-index: 46;
}

.horse-power {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36.47px;
    top: 48.273px;
    left: 487.979px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    z-index: 43;
}

.variable-horse-power {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 95.7px;
    height: 36.47px;
    top: 48.273px;
    left: 852.255px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: right;
    white-space: nowrap;
    z-index: 42;
}

.flex-row-c-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 942.955px;
    height: 56px;
    top: 365px;
    left: 47px;
    z-index: 40;
}

.regroup-c {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    position: relative;
    width: 678.495px;
    height: 56px;
    z-index: 39;
}

.rectangle-d {
    flex-shrink: 0;
    position: relative;
    width: 162px;
    height: 56px;
    font-size: 0px;
    z-index: 24;
    border-radius: 15px;
}

/* .text-e {
    display: block;
    position: relative;
    height: 24.395px;
    margin: 0.29px 0 0 13.443px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.364px;
    text-align: center;
    white-space: nowrap;
    z-index: 27;
} */

.text-e {
    display: block;
    position: relative;
    height: 25px;
    margin: 0 0 0 0;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.364px;
    text-align: center;
    white-space: nowrap;
    z-index: 22;
}

.flex-row-fd {
    position: relative;
    width: 141.596px;
    height: 31px;
    margin: 0.32px 0 0 13px;
    z-index: 26;
}

/* .low-price {
    display: flex;
    align-items: center;
    justify-content: flex;
    position: absolute;
    height: 30.494px;
    top: 0;
    left: calc(50% - 70.8px);
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.205px;
    text-align: center;
    white-space: nowrap;
    z-index: 26;
} */

.low-price {
    display: block;
    position: relative;
    height: 30.5px;
    margin: 0.46px 0 0 0;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.205px;
    text-align: center;
    white-space: nowrap;
    z-index: 21;
}

.icon-f {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 31px;
    top: 0;
    left: calc(50% - -52.55px);
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.205px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
}

.rectangle-19 {
    flex-shrink: 0;
    position: relative;
    width: 169px;
    height: 56px;
    border-right: 3px solid rgba(90, 92, 105, 0.70);
    border-left: 3px solid rgba(90, 92, 105, 0.70);
    z-index: 19;
    border-radius: 15px;
}

.rectangle-10 {
    flex-shrink: 0;
    position: relative;
    width: 169px;
    height: 56px;
    border-right: 3px solid #92261e;
    border-left: 3px solid #92261e;
    z-index: 19;
    border-radius: 15px;
}

.flex-column-d {
    position: absolute;
    width: 128.131px;
    height: 55.955px;
    top: 1px;
    left: 50%;
    font-size: 0px;
    transform: translate(-55.02%, 0);
    z-index: 22;
}

.text-11 {
    display: block;
    position: relative;
    height: 25px;
    margin: 0 0 0 0;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.364px;
    text-align: center;
    white-space: nowrap;
    z-index: 22;
}

.current-price {
    display: block;
    position: relative;
    height: 30.5px;
    margin: 0.46px 0 0 0;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.205px;
    text-align: center;
    white-space: nowrap;
    z-index: 21;
}

.icon-12 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 31px;
    top: 24px;
    left: calc(50% - -53.5px);
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.205px;
    text-align: left;
    white-space: nowrap;
    z-index: 20;
}

.fuelsystem {
    flex-shrink: 0;
    position: relative;
    height: 36.47px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    white-space: nowrap;
    left: -3px;
    z-index: 39;
}

.variablefuelsystem {
    /* display: flex; */
    align-items: flex-start;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
    width: 246.861px;
    height: 26.47px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23.06px;
    text-align: right;
    white-space: pretty;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 40;
    /* margin-top: 15px;
    margin-bottom: 15px; */
}

.flex-row-cc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 351px;
    height: 55px;
    margin: 26.239px 0 0 565px;
    z-index: 4;
}

.btn-taketotakepart {
    flex-shrink: 0;
    position: relative;
    width: 139px;
    height: 55px;
    background: #f9847c;
    z-index: 1;
    border-radius: 15px;
}

.takepart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 138px;
    height: 55px;
    top: 0;
    left: 1px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24.205px;
    text-align: center;
    z-index: 2;
}

.btn-taketotakepart-13 {
    flex-shrink: 0;
    position: relative;
    width: 139px;
    height: 55px;
    background: #cd6159;
    z-index: 4;
    border-radius: 15px;
}

.takepart-14 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 138px;
    height: 55px;
    top: 0;
    left: 1px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24.205px;
    text-align: center;
    z-index: 5;
}

.hover-class:hover {
    color: rgb(229, 91, 91);
    cursor: pointer;
}

.hover-class {
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.icon-class {
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.animation-class {
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.icon-class:hover {
    filter: drop-shadow(0px 0px 5px rgb(229, 91, 91));
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 7px;
    /* ширина scrollbar */
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    /* цвет дорожки */
}

::-webkit-scrollbar-thumb {
    background-color: #93261E;
    /* цвет плашки */
    border-radius: 15px;
    /* закругления плашки */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #DC5F56;
    /* цвет плашки */
    border-radius: 15px;
    /* закругления плашки */
}

.spec_name {
    color: #5a5c69;
    font-weight: 200;
}




.label {
    position: absolute;
    width: 210px;
    height: 56px;
    /* width: 100%;
    height: 56px; */
    top: 10px;
    left: 180px;
    background: url(../images/logo.png) no-repeat center;
    background-size: cover;
    border-radius: 15px;
    z-index: 112;
}

.phone-number {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 26px;
    left: 915px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 111;
}

.icon {
    position: absolute;
    width: 17.515px;
    height: 17.505px;
    top: 29.055px;
    left: 892.584px;
    background: url(../images/b5896872-eaab-41a8-8379-f680837e3f59.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 110;
}

.icon-1 {
    position: absolute;
    width: 15.5px;
    height: 16.979px;
    top: 29.25px;
    left: 1259.25px;
    background: url(../images/84a2fc0c-95ce-4989-9c45-1b4c6178fe56.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 103;
}

.icon-2 {
    position: absolute;
    width: 17.5px;
    height: 14.5px;
    top: 31.25px;
    left: 1225.25px;
    background: url(../images/0f4bdaf4-a04a-468a-97ee-4ba2b456ba14.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 101;
}

.header_right {
    position: absolute;
    justify-content: right;
    align-items: right;
}

.rectangle-18 {
    position: relative;
    /* width: 1480px; */
    /* height: 171px; */
    height: 171px;
    margin: -75px 0 0 0;
    font-size: 0px;
    background: #92261e;
    z-index: 5;
    overflow: hidden;
}

.cars {
    display: block;
    position: relative;
    height: 28px;
    margin: 27px 0 0 221px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.205px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
}

.flex-row-f {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 284px;
    height: 18px;
    margin: 6px 0 0 233px;
    z-index: 24;
}

.buy {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 23;
}

.sell {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
}

.auction-19 {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
}

.line-1a {
    position: relative;
    width: 1088.001px;
    height: 2.007px;
    margin: 15.993px 0 0 199.999px;
    background: url(../images/6758d6da-3257-4f87-970f-fff2e03b4411.png) no-repeat center;
    background-size: cover;
    z-index: 20;
}

.flex-row-d {
    position: relative;
    width: 1056.416px;
    height: 27px;
    margin: 22px 0 0 214.584px;
    z-index: 19;
}

.outline-cloack {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 238.416px;
    background: url(../images/e6e9b7c0-4734-49d3-9437-3ea6a72e1946.png) no-repeat center;
    background-size: cover;
    z-index: 14;
    overflow: hidden;
}

.outline-mail {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 548.416px;
    background: url(../images/d725bd09-1305-4ef5-a6d1-865f502d4c66.png) no-repeat center;
    background-size: cover;
    z-index: 11;
    overflow: hidden;
}

.regroup2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 52px;
    height: 27px;
    top: 0;
    left: 1004.416px;
    z-index: 9;
}

.icon-telega {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 17.48px;
    background: url(../images/4befc2f6-2a77-4d72-9e1f-63400d64aea6.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 9;
}

.icon-telega:hover {
    filter: invert(30%)
}

.icon-whats {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 19.922px;
    background: url(../images/f8fb6096-109e-4411-86d7-e121771e027f.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 7;
}

.icon-whats:hover {
    filter: invert(30%)
}

.time-of-work-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 2.861px;
    left: 265.416px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.364px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
}

.phone-number-1d {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 149px;
    height: 24px;
    top: calc(50% - 10.5px);
    left: 20.416px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.364px;
    text-align: center;
    white-space: nowrap;
    z-index: 19;
}

.mail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 3px;
    left: 577.416px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.364px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
}


.icon-1e {
    position: absolute;
    width: 17.515px;
    height: 17.505px;
    top: 6.055px;
    left: 0;
    background: url(../images/175ad2c0-47a0-4d21-8437-2ce8c9f28dbf.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 18;
}

.rectangle-1f {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* width: 1480px; */
    height: 63px;
    margin: 0 0 0 0;
    background: #741c1c;
    z-index: 3;
}

.text-20 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 1071px;
    height: 47px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    z-index: 3;
}

/* .attr_class {
    position: relative;
} */
/*   
.attr_class[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: 0%;
    right: 0;
    background-color: #F6D7D5;
    white-space: wrap;
    height: 100px;
    font-weight: 400;
    z-index: 1000;
} */