body {
    background: #353a3e no-repeat;
    background-size: 100%;
}

#active {
    height: fit-content;
    width: max-content;
    border-style: hidden;
    border-radius: 50px;
    font-family: Aller;
    font-size: 14px;
    color: rgb(161, 179, 198);
}

#navbar_1 {
    /* font-family: Aller; */
    font-size: 16px;
    color: rgb(161, 179, 198);
    height: 4rem;
    background: #282828;
}

#server_list {
    position: absolute;
    left: 8rem;
    top: 8rem;
    height: 76%;
    max-width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

.card {
    background-color: #282828;
    color: whitesmoke;
    border: 3px solid #282828;
    border-radius: 7px;
    box-shadow: 0px 1px red;
}

#ServerEditButton {
    /* position: absolute;
    right: 0;
    top: 0; */
    height: 100%;
    width: 100%;
}

#EditDiv {
    position: absolute;
    /* width: 15%; */
    width: 0;
    height: 100%;
    right: 0;
    border-radius: 7px;
    background-color: red;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: width 0.3s, opacity 1s;
    opacity: 0;
}

#EditbtnA {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    margin-top: 35px;
    filter: invert(1);
}

#ChangeFileDirToggleDiv {
    position: relative;
    width: 20px;
    right: 1.5%;
}

#ChangeFileDirToggle {
    cursor: pointer;
    width: 20px;
    filter: invert(1);
}

#HelpIco {
    width: 20px;
    filter: invert(0.6);
}

.custom-tooltip {
    --bs-tooltip-color: whitesmoke;
    --bs-tooltip-bg: #1a1d20;
}

.FileUploadMini input[type=file] {
    margin-left: -2px !important;
}

.FileUploadMini input[type=file]::-webkit-file-upload-button {
    display: none;
}

.FileUploadMini input[type=file]::file-selector-button {
    display: none;
}

@keyframes EditbtnShow {
    0% {
        opacity: 0;
        width: 0%;
    }

    45% {
        width: 15%;
    }

    100% {
        opacity: 1;
        width: 15%;
    }
}

@keyframes EditbtnHide {
    0% {
        opacity: 1;
        width: 15%;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        width: 0%;
    }
}