<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noblesse Auction</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" />
    <link rel="stylesheet" href="../static/css/auction.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="rectangle">
      <div class="label icon-class" onclick="document.location='/'"></div>
      <div class="header_right">
        <a class="phone-number hover-class" href="tel:+78165158148">+7 (816) 515-81-48</a>
        <div class="icon"></div>
        <div class="icon-1 icon-class"></div>
      </div>
    </div>
    <div class="main-container">
      <span class="auction-text">Аукцион автомобилей с пробегом</span>
      <div class="background-of-car">
        <div class="flex-row-fa">
          <span class="fuel-type spec_name">Тип топлива</span><span class="variable-fuel-type">{{ fuel_type }}</span>
          <span class="text">Участников:</span><span class="number-of-client">{{ part_count }}</span>
        </div>
        <div class="flex-row-a">
          <span class="tank-volume spec_name">Объем бака (л)</span><span class="variable-tank-volume">{{ tank_capacity }}</span>
          <span class="text-3">До завершения торгов:</span><span class="time-before" id="time_until_close"></span>
        </div>
        <div class="flex-row-e">
          <div class="regroup">
            <span class="length-width-weight spec_name">Длина/ширина/вес (мм/кг)</span><span class="variable-length-width-weight">{{ lenght }}/{{ width }}/{{ weight }}</span>
          </div>
          <span class="text-4">Дата и время окончания:</span><span class="time">{{ close_time }}</span>
        </div>
        <div class="flex-row-a-5">
          <span class="name-auction">{{ brand }} {{ model }} {{ year }}</span>
          <div class="outline-liked"></div>

          <!-- <div class="photo-big-car"></div> -->

          <div id="carouselCarImgs" class="carousel slide" data-ride="carousel" data-interval="10000" style="width: 464.541px; left: -20px; top: 40px;">
            <ol class="carousel-indicators" style="top: 280px; filter: invert(100%);">
              {% for i in range(imgs|length) %}
                {% if loop.index0 == 0 %}
                  <li data-target="#carouselCarImgs" data-slide-to="0" class="active"></li>
                {% else %}
                  <li data-target="#carouselCarImgs" data-slide-to="{{ loop.index0 }}"></li>
                {% endif %}
              {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for img in imgs %}
                {% if loop.index0 == 0 %}
                  <div class="carousel-item active">
                    <div class="CarImg" style="--img: url('../cars_imgs/auc_cars/{{ id }}/{{ img }}');" loading="lazy" ></div>
                  </div>
                {% else %}
                  <div class="carousel-item">
                    <div class="CarImg" style="--img: url('../cars_imgs/auc_cars/{{ id }}/{{ img }}');" loading="lazy" ></div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselCarImgs" role="button" data-slide="prev" style="filter: invert(100%); width: 55px; justify-content: flex-start">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselCarImgs" role="button" data-slide="next" style="filter: invert(100%); width: 55px; justify-content: flex-end">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <span class="text-characteristics">Характеристики</span>
          <div class="line"></div>
          <span class="rating spec_name">Рейтинг</span><span class="variable-rating">{{ rating }}</span>
          <span class="run spec_name">Пробег</span><span class="variable-run">{{ mileage }} км</span>
          <span class="kpp spec_name">КПП</span><span class="variable-kpp">{{ transmission }}</span>
          <span class="car-body spec_name">Кузов</span><span class="variable-car-body">{{ body_type }}</span>
          <span class="colour spec_name">Цвет</span><span class="variable-colour">{{ color }}</span>
          <span class="drive-unit spec_name">Привод</span><span class="variable-drive-unit">{{ drive }}</span>
        </div>

        <div class="flex-row-c">
          <div class="small-cars"></div>
          <span class="vin spec_name">VIN</span><span class="variable-vin">{{ vin }}</span>
          <span class="horse-power spec_name">Лошадиные силы</span><span class="variable-horse-power">{{ hp }}</span>
        </div>
        <div class="flex-row-c-b">
          <div class="regroup-c">
            <div class="rectangle-19">
              <div class="flex-column-d">
                <span class="text-11">Стартовая цена</span><span class="current-price">{{ start_price }}</span>
              </div>
              <span class="icon-12">₽</span>
            </div>
            <div class="rectangle-10">
              <div class="flex-column-d">
                <span class="text-11">Текущая цена</span><span class="current-price">{{ current_price }}</span>
              </div>
              <span class="icon-12">₽</span>
            </div>
            <span class="fuelsystem spec_name">Топливная система</span>
          </div>
          <span class="variablefuelsystem">{{ fuel_system }}</span>
        </div>
      </div>
      <div class="flex-row-cc">
        <div class="btn-taketotakepart icon-class">
          <span class="takepart">Участвовать</span>
        </div>
        <div class="btn-taketotakepart-13 icon-class" onclick="document.location='/auction?prevcarid={{ id }}'">
          <span class="takepart-14">Дальше</span>
        </div>
      </div>
    </div>

    <div class="rectangle-18">
      <div class="footer">
        <span class="cars">Автомобили</span>
        <div class="flex-row-f">
          <span class="buy hover-class">Купить</span><span class="sell hover-class">Продать</span><span class="auction-19 hover-class">Аукцион</span>
        </div>
        <div class="line-1a"></div>
        <div class="flex-row-d">
          <div class="outline-cloack"></div>
          <div class="outline-mail"></div>
          <div class="regroup2">
            <a class="icon-telega animation-class" href="https://t.me/noblesshut"></a>
            <a class="icon-whats animation-class" href="https://wa.clck.bar/79684843060"></a>
          </div>
          <span class="time-of-work-text">Ежедневно, с 9:00 до 21:40</span><a class="phone-number-1d hover-class" href="tel:+78165158148">+7 (816) 515-81-48</a><a class="mail hover-class" href="mailto:Noblessoblige@nobless-oblige.ru">Noblessoblige@nobless-oblige.ru</a>
          <div class="icon-1e"></div>
        </div>
      </div>
    </div>
    <div class="rectangle-1f">
      <span class="text-20">© 2013-2024 Noblesse Oblige Автомобили с пробегом – официальный дилер в Москве. Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой. Характеристики и цены на автомобили с пробегом, указанные на сайте, приводятся в целях ознакомления потребителей с ориентировочной стоимостью авто. АО «Ноблессе облиге», ОГРН 1027700000151, ИНН 7705133757</span>
    </div>
  </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  function show_close_time() {
    $.ajax({
      url: '/get_2close_time/{{id}}',
      type: 'GET',
      dataType: 'text',
      success: function (data) {
        $('#time_until_close').html(data)
      }
    })
  }
  
  $(document).ready(function () {
    show_close_time()
    setInterval('show_close_time()', 1000)
  })

  let params = new URLSearchParams(window.location.search);
  console.log(params);
  if (params.get("prevcarid") == null) {
    $(document).ready(function(){
      $('body,html').animate({scrollTop: 75}, 400); 
      });
  } else {
    $(document).ready(function(){
      $('body,html').animate({scrollTop: 75}, 1); 
      });
  }
</script>
