<div class="footer">
    <div class="rectangle-18">
        <span class="footer-text-cars">Автомобили</span>
        <div class="flex-row-f">
            <span class="buy hover-class" onclick="document.location='/'">Главная</span>
            <span class="sell hover-class" onclick="document.location='/sale'">Купить</span>
            <span class="auction-19 hover-class" onclick="document.location='/auction'">Аукцион</span>
        </div>
        <div class="line-1a"></div>
        <div class="flex-row-d">
            <div class="outline-cloack"></div>
            <div class="outline-mail"></div>
            <div class="regroup">
                <a class="icon-telega animation-class" href="https://t.me/noblesshut"></a>
                <a class="icon-whats animation-class" href="https://wa.clck.bar/79684843060"></a>
            </div>
            <span class="time-of-work-text">Ежедневно, с 9:00 до 21:40</span><a class="phone-number-1d hover-class"
                href="tel:+78165158148">+7 (816) 515-81-48</a><a class="mail hover-class"
                href="mailto:Noblessoblige@nobless-oblige.ru">Noblessoblige@nobless-oblige.ru</a>
            <div class="icon-1e"></div>
        </div>
    </div>
</div>
<div class="rectangle-1f">
    <span class="text-20">© 2013-2024 Noblesse Oblige Автомобили с пробегом – официальный дилер в Москве. Обращаем Ваше
        внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не
        является публичной офертой. Характеристики и цены на автомобили с пробегом, указанные на сайте, приводятся в
        целях ознакомления потребителей с ориентировочной стоимостью авто. АО «Ноблессе облиге», ОГРН 1027700000151, ИНН
        7705133757</span>
</div>