<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noblesse Oblige</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/auth_window_new.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <div class="label icon-class" href="/"></div>
      </div>
      <div class="header_right">
        <a class="phone-number hover-class" href="tel:+78165158148">+7 (816) 515-81-48</a>
        <div class="icon"></div>
        <div id="profile_button" class="icon-1 icon-class" data-toggle="modal" data-target="#LoginModal"></div>
        <!--<div class="icon-2 icon-class"></div> -->
      </div>
      <div id="bg" class="background animation-class">
        <span class="text">Аукционы автомобилей <br />с пробегом</span>
        <div class="red-car"></div>
        <div class="line-5"></div>
        <span class="text-6">Быстро. Качественно. Доступно</span>
      </div>
      <div class="main_content">
      <div class="flex-row-b">
        <span class="active-auction">Активных аукционов:</span><span class="number-auction">{{ auction_count }}</span>
      </div>
      <div class="auction">
        <div class="blue-car" style="--img: url('{{ auc_car_img }}');"></div>
        <span class="name-auction">{{ auc_car_brand }} {{ auc_car_model }} {{ auc_car_year }}, {{ auc_car_trans }}</span>
        <span class="text-before-end">До завершения торгов</span><span class="time-before" id="time_until_close"></span>
        <span class="text-end-date-time">Дата и время окончания</span><span class="date-time">{{ auc_car_close_date }}</span>
        <span class="participants">Участников</span><span class="client-number">{{ participants_count }}</span>
        <div class="red-price-decor">
          <span class="buyout-price">Текущая цена</span><span class="top-price">{{ current_price }}<span class="icon-7">₽</span></span>
        </div>
        <div class="grey-price-decor">
          <span class="start-price">Стартовая цена</span>
          <span class="low-price">{{ start_price }}<span class="icon-7">₽</span></span>
          
        </div>
      </div>
      <div class="rectangle-9 animation-class" onclick="document.location='/auction?carid={{ auc_car_id }}'">
        <span class="text-view-mode">перейти в режим просмотра</span>
      </div>
      <span class="buy-used-car">Купить автомобиль с пробегом</span>

      <div class="flex-row-a">
        <div id="carouselTradeCars" class="carousel slide" data-interval="false" data-wrap="false">
          <ol class="carousel-indicators" style="top: 430px; filter: invert(100%);">
            {% for i in range((((cars|length+1)/3)|round(method='ceil'))|int) %}
              {% if loop.index0 == 0 %}
                <li data-target="#carouselTradeCars" data-slide-to="0" class="active"></li>
              {% else %}
                <li data-target="#carouselTradeCars" data-slide-to="{{ loop.index0 }}"></li>
              {% endif %}
            {% endfor %}
          </ol>
          <div class="carousel-inner" style="height:450px;">
            {% for car in cars %}
              
            {% if loop.index0 == 0 %}
              <div class="carousel-item active">
                {% elif loop.index % 3 == 1 %}
              <div class="carousel-item">
                {% endif %}
                {% set tmp = loop.index0%3 %}
                <div onclick="document.location='/trade_car/{{car['id']}}'">
                  <div class="rectangle-a" style="--left: {{ tmp }}px;"></div>
                  <div class="car" style="--left: {{ tmp }}px; --img: url('{{ car['car_img'] }}');"></div>
                  
                  <div class="car_some_parent">
                    <span id="car_name_{{loop.index0}}" class="car_car" style="--left: {{ tmp }}px">{{ car['car_brand'] }} {{ car['car_model'] }} {{ car['car_year'] }}</span>
                    <span id="car_info_{{loop.index0}}" class="km-suv" style="--left: {{ tmp }}px">{{ car['main_info'] }}, <br />{{ car['addit_info'] }}</span>
                  </div>
                  
                  <script>
                    //document.getElementById("car_info_{{loop.index0}}").style.top = document.getElementById("car_name_{{loop.index0}}").getBoundingClientRect().height+184.422+"px"
                  </script>

                  <span class="price-12" style="--left: {{ tmp }}px">{{ car['price'] }}  <span class="icon-13" style="--left: {{ tmp }}px">  ₽</span>              
                  </span>
                </div>
                {% if loop.last %}
                  {% if loop.index % 3 == 0 %}
                    </div>
                    <div class="carousel-item">
                  {% else %}
                    <div>
                  {% endif %}
                  {% set tmp = (loop.index)%3 %}
                  <div>
                    <div class="btn" style="--left: {{tmp}}px; border-radius: 15px; border: 1px solid #6b6b6b; background: #F6D7D5;" onclick="document.location='/sale'"></div>
                      <span class="show-more-plus" style="--left: {{tmp}}px; border-radius: 15px;" onclick="document.location='/sale'">▢▢<br>▢▢</span>
                      <span class="show-more" style="--left: {{tmp}}px; border-radius: 15px;" onclick="document.location='/sale'">Посмотреть ещё</span>
                    </div>
                  </div>
            {% endif %}
              {% if loop.index % 3 == 0 or loop.last %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselTradeCars" role="button" data-slide="prev" style="filter: invert(100%); width: 55px; justify-content: flex-start">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselTradeCars" role="button" data-slide="next" style="filter: invert(100%); width: 55px; justify-content: flex-end">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    {% include "footer.html" %}

    <div class="modal fade" id="LoginModal" data-backdrop="static" tabindex="-1" aria-hidden="true" >
      <div class="modal-dialog">
        <div id="LoginModalContent" class="modal-content" style="left: -35%;">
          <script> $.ajax({
                  url: '/auth',
                  type: "GET",
                  dataType: "text",
                  success: function(data) {
                      $("#LoginModalContent").html(data);
                  },
              }); </script>
        </div>
      </div>
    </div>
  </body>
</html>


<script>
  function show_close_time() {
    $.ajax({
        url: '/get_2close_time/{{auc_car_id}}',
        type: "GET",
        dataType: "text",
        success: function(data) {
            $("#time_until_close").html(data);
        },
    });
}

function show_auth_window() {
  let params = new URLSearchParams(document.location.search);
  if (params.get("auth") == "1") {
    $('#LoginModal').modal('show')
  }
}

$('#bg').css('opacity', '0%')
$("#bg").ready(function () {
  $('#bg').css('opacity', '100%')
})

$(document).ready(function() {
    show_close_time();
    setInterval('show_close_time()', 1000);
    show_auth_window();
});



$('#LoginModal').on('show.bs.modal', function (event) {
  $.ajax({
    url: '/auth',
    type: "GET",
    dataType: "text",
    success: function(data) {
        if (data.match(/logged = \w+/)[0] != $("#LoginModalContent").html().match(/logged = \w+/)[0]) {
          $("#LoginModalContent").html(data);
        }
    },
});
})
</script>