<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noblesse Sale</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" />
    <link rel="stylesheet" href="../static/css/trade_car_details.css" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/auth_window_new.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="rectangle">
      <div class="label icon-class" onclick="document.location='/'"></div>
    </div>
    <div class="header_right">
      <a class="phone-number hover-class" href="tel:+78165158148">+7 (816) 515-81-48</a>
      <div class="icon"></div>
      <div id="profile_button" class="icon-1 icon-class" data-toggle="modal" data-target="#LoginModal"></div>
    </div>

    <div id="main_container" class="main-container animation-class">
      <div class="flex-row-dfff">
        <a class="main hover-class" href="/sale">Главная</a><span class="divider">/</span><span class="toyota-chr">{{ brand }} {{ model }} {{ year }}</span>
      </div>
      <div class="flex-row-ab">
        <div id="carouselCarImgs" class="carousel slide" data-ride="carousel" data-interval="10000" style="width: 684.541px; left: 20px; top: 4px;">
          <ol class="carousel-indicators" style="top: 345px;">
            {% for img in imgs %}
              {% if loop.index0 == 0 %}
                <img data-target="#carouselCarImgs" data-slide-to="0" class="CarImgSmall active animation-class" srcset="/static/cars_imgs/trade_cars/{{ id }}/{{ img }}" loading="lazy" />
              {% else %}
                <img data-target="#carouselCarImgs" data-slide-to="{{ loop.index0 }}" class="CarImgSmall animation-class" srcset="/static/cars_imgs/trade_cars/{{ id }}/{{ img }}" loading="lazy" />
              {% endif %}
            {% endfor %}
          </ol>
          <div class="carousel-inner" style="left:40px; width: 620px;">
            {% for img in imgs %}
              {% if loop.index0 == 0 %}
                <div class="carousel-item active">
                  <div class="CarImg" style="--img: url('../cars_imgs/trade_cars/{{ id }}/{{ img }}');" loading="lazy"></div>
                </div>
              {% else %}
                <div class="carousel-item">
                  <div class="CarImg" style="--img: url('../cars_imgs/trade_cars/{{ id }}/{{ img }}');" loading="lazy"></div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <a class="carousel-control-prev animation-class" href="#carouselCarImgs" role="button" data-slide="prev" style="filter: invert(100%); width: 95px; justify-content: flex-start">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next animation-class" href="#carouselCarImgs" role="button" data-slide="next" style="filter: invert(100%); width: 95px; justify-content: flex-end; z-index: 190;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div id="scroll" class="scroll animation-class">
          <div class="current-price">
            <div style="position: absolute; top: -140px; left: -50px">
              <span class="name-of-car">{{ brand }} {{ model }} {{ year }}</span>
              <div class="group">
                <span class="vin">VIN</span><span class="variable-vin">{{ vin }}</span>
              </div>
            </div>
            <div class="price-decoration"></div>
            <span class="text-price">Цена</span><span class="current-price-5">{{ price }}</span><span class="icon-of-rub">₽</span>
          </div>

          {% if status == 'В продаже' %}
            <div class="btn-buy icon-class" onclick="buy_car({{ id }})" data-toggle="modal" data-target="#CongratModal">
              <div class="bg-btn-buy"></div>
              <span class="text-btn-buy">Купить</span>
            </div>
          {% else %}
            <div class="btn-buy" style="cursor: auto">
              <div class="bg-btn-buy disabled"></div>
              <span class="text-btn-buy">Хуй тебе</span>
            </div>
          {% endif %}
        </div>
      </div>

      <span class="text-characteristics">Характеристики</span>
      <div class="flex-row-ef">
        <span class="rating">Рейтинг</span><span class="variable-rating">{{ rating }}</span>
      </div>
      <div class="flex-row-a">
        <span class="run">Пробег</span><span class="variable-run">{{ mileage }} км</span>
      </div>
      <div class="flex-row-a">
        <span class="kpp">КПП</span><span class="variable-kpp">{{ transmission }}</span>
      </div>
      <div class="flex-row-a">
        <span class="car-body">Кузов</span><span class="variable-car-body">{{ body_type }}</span>
      </div>
      <div class="flex-row-a">
        <span class="colour">Цвет</span><span class="variable-colour">{{ color }}</span>
      </div>
      <div class="flex-row-a">
        <span class="drive-unit">Привод</span><span class="variable-drive-unit">{{ drive }}</span>
      </div>
      <div class="flex-row-a">
        <span class="vin-b">VIN</span><span class="variable-vin-c">{{ vin }}</span>
      </div>
      <div class="flex-row-a">
        <span class="horse-power">Лошадиные силы</span><span class="variable-horse-power">{{ hp }}</span>
      </div>
      <div class="flex-row-a">
        <span class="fuel-system">Топливная система</span><span class="variable-fuel-system">{{ fuel_system }}</span>
      </div>
      <div class="flex-row-a">
        <span class="fuel-type">Тип топлива</span><span class="variable-fuel-type">{{ fuel_type }}</span>
      </div>
      <div class="flex-row-a">
        <span class="tank-volume">Объем бака (л)</span><span class="variable-tank-volume">{{ tank_capacity }}</span>
      </div>
      <div class="flex-row-e-13">
        <span class="length-width-weight">Длина/ширина/вес (мм/кг)</span><span class="variable-length-width-weight">{{ lenght }}/{{ width }}/{{ weight }}</span>
      </div>
    </div>

    {% include 'footer.html' %}

    <div class="modal fade" id="CongratModal" data-backdrop="static" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div id="CongratModalContent" class="modal-content animation-class" style="left: -15%; margin-top: 45%; width: fit-content; border-radius: 15px;"></div>
      </div>
    </div>

    <div class="modal fade" id="LoginModal" data-backdrop="static" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div id="LoginModalContent" class="modal-content" style="left: -35%;">
          <script>
            $.ajax({
              url: '/auth',
              type: 'GET',
              dataType: 'text',
              success: function (data) {
                $('#LoginModalContent').html(data)
              }
            })
          </script>
        </div>
      </div>
    </div>
  </body>

  {% if status == 'В продаже' %}
    <script>
      function buy_car(id) {
        $.ajax({
          url: '/congrat/' + id,
          type: 'GET',
          dataType: 'text',
          success: function (data) {
            $('#CongratModalContent').html(data)
          }
        })
      }
    </script>
  {% endif %}
  <script>
    $('#main_container').css('opacity', '0%')
    $(document).ready(function () {
      $('#main_container').css('opacity', '100%')
    })
    
    position = $(window).scrollTop()
    $(window).scroll(function () {
      scroll = $(window).scrollTop()
      check = Math.ceil($('#main_container').height()) - Math.ceil($('#scroll').offset().top) - Math.ceil($('#scroll').height())
      if (scroll > position) {
        if (check > 0) {
          $('#scroll').css('top', $(window).scrollTop() + 'px')
        } else {
          console.log(check, Math.ceil($('#scroll').offset().top) + 3 * check)
          $('#scroll').css('top', Math.ceil($('#scroll').offset().top) + 2 * check + 'px')
        }
      } else if (scroll < position) {
        if (Math.ceil($('#scroll').offset().top) - $(window).scrollTop() > 160) {
          $('#scroll').css('top', $(window).scrollTop() + 'px')
        }
      }
      position = scroll
    })
    
    $('#LoginModal').on('show.bs.modal', function (event) {
      $.ajax({
        url: '/auth',
        type: 'GET',
        dataType: 'text',
        success: function (data) {
          console.log(
            data.match(/logged = \w+/)[0] ==
              $('#LoginModalContent')
                .html()
                .match(/logged = \w+/)[0]
          )
          if (
            data.match(/logged = \w+/)[0] !=
            $('#LoginModalContent')
              .html()
              .match(/logged = \w+/)[0]
          ) {
            $('#LoginModalContent').html(data)
          }
        }
      })
    })
  </script>
</html>
