<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noblesse Sale</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" />
    <link rel="stylesheet" href="../static/css/view_auc_cars.css" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/auth_window_new.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="rectangle">
      <div class="label icon-class" onclick="document.location='/'"></div>
    </div>
    <div class="header_right">
      <a class="phone-number hover-class" href="tel:+78165158148">+7 (816) 515-81-48</a>
      <div class="icon"></div>
      <div id="profile_button" class="icon-1 icon-class" data-toggle="modal" data-target="#LoginModal"></div>
    </div>

    <div style="width: fit-content">
      <div class="main-container">
        <span class="used-cars">Автомобили с аукциона</span>

        <div id="content" class="animation-class" style="overflow: visible">
          <div class="flex-row"></div>
        </div>
      </div>
    </div>

    {% include "footer.html" %}


    <div class="modal fade" id="LoginModal" data-backdrop="static" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div id="LoginModalContent" class="modal-content" style="left: -35%;">
          <script>
            $.ajax({
              url: '/auth',
              type: 'GET',
              dataType: 'text',
              success: function (data) {
                $('#LoginModalContent').html(data)
              }
            })
          </script>
        </div>
      </div>
    </div>
  </body>

  <script>
    $('#sort_alph').click(function () {
      if ($('#sort_alph').attr('active') == null) {
        $('#content').css('opacity', '0%')
        $('#loader').css('opacity', '100%')
        get_auc_cars((sortby = '(brand, model, year)'))
        $('#sort_alph').attr('active', true)
        $('#sort_mile').attr('active', null)
        $('#sort_price').attr('active', null)
      }
    })
    $('#sort_mile').click(function () {
      if ($('#sort_mile').attr('active') == null) {
        $('#content').css('opacity', '0%')
        $('#loader').css('opacity', '100%')
        get_auc_cars((sortby = 'mileage'))
        $('#sort_alph').attr('active', null)
        $('#sort_mile').attr('active', true)
        $('#sort_price').attr('active', null)
      }
    })
    $('#sort_price').click(function () {
      if ($('#sort_price').attr('active') == null) {
        $('#content').css('opacity', '0%')
        $('#loader').css('opacity', '100%')
        get_auc_cars((sortby = 'price'))
        $('#sort_alph').attr('active', null)
        $('#sort_mile').attr('active', null)
        $('#sort_price').attr('active', true)
      }
    })
    
    function get_auc_cars(sortby) {
      if (document.cookie.match(/token=\w+/) == null) {
        document.location.replace('/?auth=1&sale=1')
      } else {
        $.ajax({
          url: '/get_auc_cars?sortby=' + sortby,
          type: 'GET',
          dataType: 'text',
          success: function (data) {
            $('#content').html(data)
            $('#content').css('opacity', '100%')
            $('#loader').css('opacity', '0%')
          }
        })
      }
    }
    
    $(document).ready(function () {
      $('#content').css('opacity', '0%')
      get_auc_cars((sortby = 'mileage'))
    })
    
    $('#LoginModal').on('show.bs.modal', function (event) {
      $.ajax({
        url: '/auth',
        type: 'GET',
        dataType: 'text',
        success: function (data) {
          console.log(
            data.match(/logged = \w+/)[0] ==
              $('#LoginModalContent')
                .html()
                .match(/logged = \w+/)[0]
          )
          if (
            data.match(/logged = \w+/)[0] !=
            $('#LoginModalContent')
              .html()
              .match(/logged = \w+/)[0]
          ) {
            $('#LoginModalContent').html(data)
          }
        }
      })
    })
  </script>
</html>
